<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ASIANA</title>
<link rel="stylesheet" th:href="@{/css/test.css}">
</head>
<body>
<h1>자세히 보기 화면</h1>
<ul>
  <li>로그인</li>
  <li>회원가입</li>
  <li><a th:href="@{/list}">게시판</a></li>
</ul>
<hr>


<form th:action="" method="get">
글번호:<input type="text" name="id" th:value="${retrieve.id}" readonly="readonly"><br>
제목:<input type="text" name="title" th:value="${retrieve.title}"><br>
내용:<textarea rows="10" cols="10" name="content">[[${retrieve.content}]]</textarea>
<input type="submit" value="수정">
</form>
</body>
</html>






